footer {
  grid-area: footer;
  background-color: #000;
  display: flex;
  justify-content: flex-end;
}

.footer-div-img {
  align-self: center;
  margin: 0 30px;
}

.footer-div-img img {
  margin: 0 20px;
}
