.aboutme-wrapper {
  display: flex;
  margin: 40px 0 0 40px;
  font-family: Poppins;
}

.aboutme-wrapper nav {
  display: flex;
  align-self: start;
}

.aboutme-back-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #23213d;
  text-transform: uppercase;
}

.aboutme-wrapper .round-image {
  align-self: center;
}

.aboutme-text {
  width: 400px;
  align-self: center;
  padding-left: 50px;
}

.aboutme-text h1 {
  color: #ff4d69;
}

.aboutme-img-hand {
  width: 35px;
}
