.aboutme-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0 40px;
  font-family: Poppins;
}

.aboutme-wrapper nav {
  display: flex;
  align-self: start;
}

.aboutme-wrapper .round-image {
  align-self: center;
}

.aboutme-text {
  width: 600px;
  align-self: center;
  padding-left: 50px;
  margin-top: 20px;
}

.aboutme-text h1 {
  color: #ff4d69;
}

.aboutme-img-hand {
  width: 35px;
}

.aboutme-text-witcher {
  display: flex;
  text-align: center;
}
