.course-wrapper {
  max-width: 40vw;
  display: flex;
  flex-direction: column;
  margin: 30px;
  font-family: Poppins;
}

.course-info {
  display: flex;
}

.course-info svg {
  margin: 50px;
  transform: scale(160%);
}

.course-info-text {
  padding-right: 110px;
  text-align: center;
}
