.mg-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: Poppins;
}

.mg-title {
  text-align: center;
  font-size: 18px;
}

.mg-game-div {
  display: flex;
  flex-direction: row;
}
