.tech-stack-box {
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 0 40px;
  color: #23213d;
  flex-direction: column;
}

.tech-icon-box {
  display: flex;
  flex-wrap: wrap;
}

.tech-stack-grid {
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr 1fr;
  gap: 10px;
  margin-right: 15px;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(235, 235, 235, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
}

.tech-stack-grid-text {
  grid-area: 1 / 1 / 2 / 4;
  font-size: 1.1rem;
}

.tech-stack-grid-name {
  margin-bottom: 0;
}
